@charset_01 "UTF-8";

body {
    
    margin:0;
    font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;

}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/*----共通クラス設定----*/

a {text-decoration:none;}

.hide {display:none}

.relative {position:relative;}
.fixed {position:fixed;}

.hold_x {overflow-x:hidden;}
.hold_y {overflow-y:hidden;}

[class*="fc_f0"] {font-family:'Lucida Console',monospace;}
[class*="fc_f1"] {font-family:'Monotype Corsiva',fantasy;}

[class*="in_page"] {position:relative;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.field {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 500px;
    border: solid 2px;
    
}

.target {
    
    position: relative;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    background-color: aqua;
    
}

.control {
    
    position: absolute;
    top: 105%;
    left: 45%;
    width: 30%;
    height: 30%;
    
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/*=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/
/*=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=↓≪ページレイアウト関連≫↓=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/
/*=#=#=#=↓≪ブラウザ画面の横幅が『599px以下』の場合≫=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/

@media(max-width:599px)
{
	
/*----全体の横幅を固定----*/

body {width:480px; margin-left:auto; margin-right:auto;}
    
}   /*--↑@media(max-width:599px)--*/
/*=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/
/*=#=#=#=↓≪ブラウザ画面の横幅が『600px以上』の場合≫=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/

@media(min-width:600px)
{
					  	  
/*----全体の横幅を固定----*/

body {width:540px; margin-left:auto; margin-right:auto;}

}   /*--↑@media(min-width:600px)--*/
/*=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/
/*=#=#=#=↓≪ブラウザ画面の横幅が『600px以上～767px以下』の場合≫#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/

@media(min-width:600px) and (max-width:767px)
{
	

/*----全体の横幅を固定----*/

body {width:640px; margin-left:auto; margin-right:auto;}
    
}   /*--↑@media(min-width:600px) and (max-width:767px)--*/
/*=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/
/*=#=#=#=↓≪ブラウザ画面の横幅が『768px以上』の場合≫=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/

@media(min-width:768px)
{
	

		

/*----全体の横幅を固定----*/
    
body {width: 820px; margin-left:auto; margin-right:auto;}

}   /*--↑@media(min-width:768px)--*/
/*=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/
/*=#=#=#=↓≪ブラウザ画面の横幅が『1190px以上』の場合≫=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/

@media(min-width:1190px)
{
	

/*----全体の横幅を固定----*/
    
body {width:1300px; margin-left:auto; margin-right:auto;}

}   /*--↑@media(min-width:1190px)--*/
/*=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=*/

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**↓≪アニメーション等々≫↓**//**//**//**//**//**//**//**//**//**//**//**/

/*@keyframes XX*/
{


}   /*--↑@keyframes--*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/